body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Titilium;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
	font-weight: 300;
}

button{	
	font-family: Titilium;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	overscroll-behavior: none;
	color: #FFFFFF;
	border-radius: 10px;
	text-transform: none;
	border: 0;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

button:focus{
	outline: 0;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

@font-face{
	font-family: titilium;
	src:url(fonts/ttf/TitilliumWeb-Regular.ttf);
	font-weight: 300;
}

@font-face{
	font-family: titilium;
	src:url(fonts/ttf/TitilliumWeb-Bold.ttf);
	font-weight: 500;
}

@font-face{
	font-family: titilium;
	src:url(fonts/ttf/TitilliumWeb-Light.ttf);
	font-weight: 200;
}

@font-face{
	font-family: titilium;
	src:url(fonts/ttf/TitilliumWeb-SemiBold.ttf);
	font-weight: 400;
}